
         <div id="footer" style="background:#f8f8ff; color:#000; margin-top: 50px; padding-bottom: 15px;">
            <div class="container" style="margin-top: 100px;">
              <div class="row">
                  
                  <div class="col-sm-6 address wow zoomIn" style=" animation-duration: 2s;  font-family: 'El Messiri', sans-serif;">
                      <i class="fas fa-map-marker-alt wow bounce" style="color: #e60000; animation-delay: 2s; animation-duration: 2s;"></i>&nbsp;<b>Address</b><br>
                      New Delhi, Delhi 110062 <br>
                      
                      <i class="fas fa-phone wow bounce" style="color: #009999;  animation-delay: 2s; animation-duration: 2s;"></i>&nbsp;<b>Telephone:</b><br>
                       9818726197,<br><br>
                      <i class="fas fa-envelope wow bounce" style="color: #0099e6;  animation-delay: 2s; animation-duration: 2s;"></i>&nbsp;<b>Email:</b><br>
                      a.qureshi213@gmail.com<br><br>
                 
                  
                            <a href="#"  id="fb_ico"><i class="fab fa-facebook-f "></i></a> 
                            <a href="#" id="twitter_ico"><i class="fab fa-twitter"></i></a> 
              
                            <a href="#" id="insta_ico"><i class="fab fa-instagram"></i></a> 
              </div>
                       
              </div>
            </div>
            <hr style="background-color:#0052cc;">
            <div  class="text-center">
              <h5 style="margin-top: 30px; font-family:Times New Roman;">Made BY <a href="https://www.linkedin.com/in/mohd-arafat-qureshi-7587b8177"> MOHD ARAFAT QURESHI</a></h5>
                &copy; Jamia Hamdard University 
            </div>
        </div>
        </div>
    </div>


</html>